
#info {
    margin-top: 35px;
}
#head {
    display: flex;
    width: 100%;
    
}
#me {
    width: 20%;
}
#me img {
    width: 100%;
}
#text {
    width: 80%;
}
p {
    font-size: x-large;
    color: white;
    font-family: 'Roboto Slab', serif;
}

p img {
    width: 40px;
}
#img_info {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.information {
    border: 3px solid white;
    width: 30%;
    color: white;
    font-family: 'Roboto Slab', serif;
}
#logo1 {
    width: 50%;
}
#logo2 {
    width: 50%;
}
#logo3 {
    width: 34%;
}