form {
    color: white;
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 333px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    display: inline-block;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}
#contacts {
    display: flex;
    margin-top: 33px;
}
.second_menu h1 {
    color: white;
    font-family: 'Roboto Slab', serif;
}