form {
    margin-top: 5%;
    font-size: x-large;
    color: white;
    font-family:'Roboto Slab', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}