/* Добрий день. Намучився я з цими трикутниками. Гляяньте і скажіть як мені
- червону картинку зробити справа від меню
- я хтів би щоб після загрузки сайту кожен трикутник випливав би замеж сайта і потім в центрі великими буквами писало те що в <div ="midele">
- Але саме головне то в позицыонуванні тих трикутників , як їх  спозиціонувати  по центру до стінок вікна ?*/

body {
    background-image: url(/pictures/background.jpg);
    background-size: 100%;
    background-attachment: fixed
}
#logo img{
	width: 20px;
	height: 20px;
}
#navbar {
	    height: 30px;
        background-color: black;
        padding-left: 25px;
        opacity: 0.5;
        text-align: right;
}
#navbar li { 
	display: inline; 
}
#navbar li a{ 
	padding: 10px;
	color: white;
	font-size: 25px;
	text-decoration: none;
	font-family: 'Roboto Slab', serif;
}
#navbar #logo3 {
	width: 150px;
	height: 25px;
}
footer {
    position: fixed;
    right: 0; bottom: 0;
    padding: 20px;
}

